{% extends 'base.html' %}

{% block title %}
    <title>Edit task</title>
{% endblock title %}

{% block content %}
    <div class="container">
        </br>
        </br>

        {% if task_obj.manage == request.user %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
                    <input type="hidden" name="done" value="{{ task_obj.done }}">
                </div>
                </br>
                <button type="submit" class="btn btn-primary">Edit Task</button>
            </form>
        {% else %}
            <p>Ha! Imposter spotted. You can't hack this baby.</p>
        {% endif %}
    </div>
{% endblock content %}